{% load staticfiles %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}" />
	<link rel="stylesheet" href="{% static "/css/upstox.css" %}" />
<script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><strong>UPSTOX-ALGO Trading</strong></a>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">ALGO Trading</div>
					<div class="panel-body">Lorem ipsum dolor sit amet,
						consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis
						nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate
						velit esse cillum dolore eu fugiat nulla pariatur</div>
					<div class="panel-body">
						<button type="submit" class="btn btn-default">Learn more</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<form method="post">
						 {% csrf_token %}
							<div class="form-group">
								<input type="email" class="form-control" id="email" placeholder="User ID">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="pwd" placeholder="Password">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="birthyear" placeholder="Year of birth">
							</div>
							<button type="submit" class="btn btn-default btn-block">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">ALGO Trading Advantages</div>
					<div class="panel-body">Lorem ipsum dolor sit amet,
						consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis
						nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate
						velit esse cillum dolore eu fugiat nulla pariatur</div>
					<div class="panel-body">
						<button type="submit" class="btn btn-default">Learn more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
