{% extends 'base.html' %}

{% block content %}
	<div class="container">
	 <h4 class="my-4">Profile</h4>

		<div class="row">
			<div class="col-lg-2">
				<div class="row">
					<div class="col-lg-6">
						<div class="well well-sm">Profile</div>
					</div>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="container-fluid">
							<div class="form-group">
							<div class="row" >
								<form action="/algotrade/profilesaveview/" method="POST" name="scForm" id="scForm">
									 {% csrf_token %}
								<div class="col-lg-6">Trade Type</div>
								<div class="col-lg-6" style="font-weight:normal">
									<select class="form-control" name="{{form.selTradeType.name}}" title="Trade Type ..">
											{% with value=form.selTradeType.value %}
									<option value="0" selected> Trade Type.. </option>
								{% for trade in trades %}
										<option value="{{ trade.trade_id }}" {% if trade.trade_id|slugify == value|slugify %}selected="selected"{% endif %}>{{ trade.trade_value }}</option>
								{% endfor %}
									{% endwith%}
								</select>
							</div>
								</div>
<br><br>
							<div class="row">
								<div class="col-lg-6">Available margin - xxxxxxxxxxxxxxxx</div>
								<div class="col-lg-6" style="font-weight:normal"><input type="text" class="form-control" id="margin" name="{{form.selAvailableMargin.name}}" value="{{form.selAvailableMargin.value|floatformat:"-2"|default:0.0}}" placeholder="Available Margin"></div>
							</div>
							<br>
							<div class="row">
								<div class="col-lg-6"></div>
								<div class="col-lg-6"><button type="submit" class="btn btn-primary" style="width:100px">Submit</button></div>
							</div>
						</form>
						</div>
						</div>
						<br>
						</div>
					</div>
				</div>
			</div>
			</div>
{% endblock %}
