<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3 class="modal-title">Add Strategy</h4>
	</div>
	<form action="{% url 'website:strategyeditview' form.strategy_id.value %}" method="POST">
		  {% csrf_token %}
	<div class="modal-body">
	<div class="container-fluid">
		<div class="row" style="font-weight:normal">
			<div class="col-lg-4">
				<input type="text" class="form-control" name="{{form.strategy_name.name}}" value="{{form.strategy_name.value}}"
					placeholder="Strategy Name">
			</div>
			<div class="col-lg-4">
				<div class="checkbox">
					<label><input type="checkbox" value="1" id="my-checkbox" onchange="change()">Sell/Buy on Open Price</label>
				</div>
			</div>
			<div class="col-lg-4"></div>
		</div>
		<div class="row" id="candleTitle">
			<div class="col-lg-4">Candel Properties</div>
			<div class="col-lg-4"></div>
			<div class="col-lg-4"></div>
		</div>

		<div class="row" style="font-weight:normal" id="candleProps">
			<div class="col-lg-4">
				<select class="form-control" name="{{form.time_frame.name}}" title="Strategy Name..">
						{% with value=form.time_frame.value %}
				<option value="0" selected> Time Frame..</option>
				{% for timeframe in timeFrames %}
					<option value="{{ timeframe.timeframe_value }}"  {% if timeframe.timeframe_value|slugify == value|slugify %}selected="selected"{% endif %}>{{ timeframe.timeframe_value }}</option>
				{% endfor %}
				</select>
				{% endwith %}
			</div>
			<div class="col-lg-4"><input type="text" class="form-control" name="{{form.candle_ref.name}}" value="{{form.candle_ref.value}}"
					placeholder="Candle Reference"></div>
			<div class="col-lg-4"><input type="text" class="form-control" name="{{form.no_of_candle.name}}" value="{{form.no_of_candle.value}}"
					placeholder="Number of Candle"></div>
		</div>

		<div class="row" style="font-weight:normal" id="candleChkProps">
			<div class="col-lg-4"><div class="checkbox">
					<label><input type="checkbox" value="">Continue for Next Candle</label>
				</div></div>
			<div class="col-lg-4"><div class="checkbox">
					<label><input type="checkbox" value="">Combine Candle</label>
				</div></div>
			<div class="col-lg-4"><div class="checkbox">
					<label><input type="checkbox" value="">Reverse Trade on SL Hit</label>
				</div></div>
		</div>

		<div class="row" style="font-weight:normal">
			<div class="col-lg-4">
				<input type="text" class="form-control" name="{{form.buffer_amnt.name}}" value="{{form.buffer_amnt.value}}"
					placeholder="Buffer Amount">
			</div>
			<div class="col-lg-4">
				<select class="form-control" name="targets" title="Strategy Name..">
				{% with value=form.time_frame.value %}
				<option value="0" selected> Targets..</option>
				{% for target in targets %}
					<option value="{{ target.target_desc }}"  {% if target.target_id|slugify == value|slugify %}selected="selected"{% endif %}>{{ target.target_desc }}</option>
				{% endfor %}
				</select>
				{% endwith %}
			</div>
			<div class="col-lg-4">
				<select class="form-control" name="stoploss" title="Strategy Name..">
						{% with value=form.time_frame.value %}
				<option value="0" selected> Stop loss..</option>
				{% for stop in stoploss %}
					<option value="{{ stop.stoploss_id }}"  {% if stop.stoploss_id|slugify == value|slugify %}selected="selected"{% endif %}>{{ stop.stoploss_desc }}</option>
				{% endfor %}
				</select>
				{% endwith %}
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">Conditions</div>
			<div class="col-lg-4"></div>
			<div class="col-lg-4"></div>
		</div>

		<div class="row" style="font-weight:normal">
			<div class="col-lg-4">
				<input type="text" class="form-control" name="{{form.condition1.name}}" value="{{form.condition1.value}}"
					placeholder="Condition 1">
			</div>
			<div class="col-lg-4"><input type="text" class="form-control" name="{{form.condition2.name}}" value="{{form.condition2.value}}"
					placeholder="Condition 2"></div>
			<div class="col-lg-4"><input type="text" class="form-control" name="{{form.condition3.name}}" value="{{form.condition3.value}}"
					placeholder="Condition 3"></div>
		</div>
		</div>
	</div>
	<div class="modal-footer">
			<div class="text-center">
			<button type="submit" class="btn btn-primary" style="width:100px">Update</button>
			<button type="submit" class="btn btn-primary" style="width:100px">Delete</button>
			</div>
			</div>
</form>
	</div>
